#admin{
    background-color: #dad5d52c;
    height: 100vh;
    position: relative;
}
.title{
    /* margin-top: 5rem; */
    /* position: absolute;s */
    margin-left: 12%;
    font-family: serif;
    color: #f3005d;
}
.userSummary{
    color: #000009ce;
    font-weight: 500;
}
.boxOne{
    height:60px;
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 0.75rem;
}
.boxTwo{
    height:60px;
    padding: 1rem 2rem;
      border-radius: 0.75rem;
    background-color: #fff;
}

.boxThree{
    height:60px;
    padding: 1rem 2rem;
    background-color: #fff;
}
.boxFour{
    height:60px;
    padding: 1rem 2rem;
      border-radius: 0.75rem;
    background-color: #fff;
}
.icon{
    color: #006838;
    background-color: #07a55b60;
    margin-right: 10px;
}
.buttonOne,.button, .add{
    border: 1px solid #07a55b60;
    font-weight: 300;
    padding: 0.75em 1.3em;
    color: #006838;

}
.CSV,.PDF, .ADD{
    margin-right: 0.75em;
    background: none;
}
.buttonOne{
    margin-right: 1.5rem;
}
.user{
    border: 1px solid #006838;
    color: #006838;
    padding: 0.75em 1.3em;
   text-align: center;
    justify-items:center;
}
.form-control{
    color: #006838;
    border: 1px solid #07a55b60 !important;
}
